*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h2{
    font-size: 2.5rem;
    text-align: center;
    margin: 40px 0;
}
h2::after{
    content:"" ;
    background: rgb(12, 12, 104);
    width: 100px;
    height: 4px;
    display: block;
    margin: 15px auto;
}
.navbar{
    display: flex;
    max-width: 100%;
    min-height: 60px;
    max-height: 200px;
    align-items: center;
    justify-content: flex-end;
}

.nav-logo{
    margin: 0 5px;
    margin-right: auto;
}

.nav-logo a img{
    height: 40px;
    margin: 3px 6px;
    border-radius: 50%;
}

.nav-link{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.nav-link a{
    color: black;
    text-decoration: none;
    margin: 10px 20px;
    font-weight: bold;
}
.nav-link a:hover{
    color: rgb(33, 59, 142);
    text-decoration: overline;
}

.home{
    background: linear-gradient(rgb(0,0,0,0.1));
    background-position: center;
    background-size: cover;
    min-height: 250px;
    max-height: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.home h1{
        font-family:'Times New Roman', Times, serif;
        margin: 30px 10px;
        font-size: 2.5rem;
    }

.home p{
        font-size: 1.2rem;
        margin: 10px;
        font-style: italic;
    }
.home a{
        margin: 10px;
        color: #00f;
        border: 1.5px solid black;
        border-radius: 10px;
        padding:0 3px;
        text-decoration: none;
        font-weight: bold;
        
         &:hover{
            border: 1.5px solid #fff;
            background-color: black;
            color: rgb(255, 255, 255);
             }
      }

.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background: white;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: rgb(12, 12, 104);
}
.project-img {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.contact-form{
    background: #ffffff;
    margin:0 5px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-content{
    margin: 10px;
}

.form-content label{
    display: block;
    margin-bottom: 5px;
    font-weight:bold;
}

.form-content input,
.form-content textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1rem;
}

.form-content textarea {
    height: 150px;
    resize: vertical;
}
.form-btn {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    background: #ffffff;
    color: #000000;
    border: 1.5px solid black;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold
}
.btn:hover{
    background: #d3d3d3;
    color: rgb(33, 59, 142);
    
}

.social{
    padding: 10px;
    margin-right: auto;
}

.social h3{
    color: rgb(33, 59, 142) ;
}

.social-link a{
    color: black;
    text-decoration: none;
    margin: 10px 20px;
    font-weight: bold;
}

.social-link a:hover{
    color: rgb(33, 59, 142);
    border: 1.5px solid rgb(33, 59, 142) ;
    border-radius: 10px;
}
